@{
	ViewData["Title"] = "Create";
}

<h4>Create Company</h4>
<hr />
<div class="row">
	<form action="/Company/create" method="post">
		<div class="col-md-6">
			<div class="col-md-3">
				<label class=""> Name <span class="text-danger"> * </span></label>
				<input type="text" name="Name" class="form-control" />
			</div>
			<div class="col-md-3">
				<label class=""> Address <span class="text-danger"> * </span></label>
				<input type="text" name="Address" class="form-control" />
			</div>
			<div class="col-md-3">
				<label class=""> Email <span class="text-danger"> * </span></label>
				<input type="text" name="Email" class="form-control" />
			</div>
			<div class="col-md-3">
				<label class=""> Mobile <span class="text-danger"> * </span></label>
				<input type="text" name="Mobile" class="form-control" />
			</div>
		
			<div class="col-md-3">
				<label class=""> GST Number <span class="text-danger"> * </span></label>
				<input type="text" name="GST" class="form-control" />
			</div>
			<div class="col-md-3">
				<label class=""> PAN Number <span class="text-danger"> * </span></label>
				<input type="text" name="PAN" class="form-control" />
			</div>
			<div class="col-md-3">
				<label class=""> Is Active <span class="text-danger"> * </span></label>
				<input type="checkbox" name="ISActive" class="form-check"/>
			</div>
			<div class="col-md-3">
				
				<input type="submit" name="ISActive" class="btn btn-primary" />
			</div>
	</form>
</div>

