@{
	ViewData["Title"] = "Index";
}

<h1>Company List</h1>

<div class="row">
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Mobile</th>
			<th>GST Number</th>
			<th>PAN Number</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
	</table>
</div>
